/*Tags*/

.CEP_found {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.CEP_found label {
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}

/*ID's*/

#recebe {
    font-family: roboto;
    font-size: 0.9em;
}

#retorno {
    margin-top: 10px;
}